.cover__subtitle {
  font-size: 14px;
  line-height: 1.1;
  margin: 0;
  max-width: 280px;
}

@media screen and (min-width:768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 1.2;
    max-width: 360px;
  }
}