.figure__caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0 0 0 16px;
}


@media screen and (min-width:768px) {
  .figure__caption {
    padding: 0 0 0 24px;
  }
}

@media screen and (min-width:1024px) {
  .figure__caption {
    padding: 0 0 0 0;
  }
}