.container {
  padding: 0 16px;
}

@media screen and (min-width:768px) {
  .container {
    padding: 0 24px;
  }
}

@media screen and (min-width:1024px) {
  .container {
    padding: 0 48px;
    font-size: 18px;
    line-height: 1.6;
  }
}

@media screen and (min-width:1280px) {
  .container {
    padding: 0 148px;
  }
}