.place__url {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #AAAAAA;
  margin: 0 0 12px 0;
}

@media screen and (min-width:768px) {
  .place__url {
    letter-spacing: 2px;
  }
}

@media screen and (min-width:1024px) {
  .place__url {
    margin: 0;
    line-height: 1.7;
  }
}